In [3]:
import pandas as pd 
import pickle

In [4]:
model = pickle.load(open('best_linear_model.pkl', 'rb'))

In [ ]:
test_data = pd.read_csv("E:/My_Project/Prodigy InfoTech/Task 1/DataSet/test.csv") 


X_test_data = test_data[['LotArea','GarageArea','TotalBsmtSF','GrLivArea', 'BedroomAbvGr', 'FullBath','HalfBath']]

In [8]:
X_test_data.isnull().sum()

LotArea         0
GarageArea      1
TotalBsmtSF     1
GrLivArea       0
BedroomAbvGr    0
FullBath        0
HalfBath        0
dtype: int64

In [10]:
X_test_data = X_test_data.dropna(subset=['LotArea', 'GarageArea', 'TotalBsmtSF', 'GrLivArea'])

In [11]:
X_test_data.isnull().sum()

LotArea         0
GarageArea      0
TotalBsmtSF     0
GrLivArea       0
BedroomAbvGr    0
FullBath        0
HalfBath        0
dtype: int64

In [14]:
X_test_data.head()

,LotArea,GarageArea,TotalBsmtSF,GrLivArea,BedroomAbvGr,FullBath,HalfBath
0,11622,730.0,882.0,896,2,1,0
1,14267,312.0,1329.0,1329,3,1,1
2,13830,482.0,928.0,1629,3,2,1
3,9978,470.0,926.0,1604,3,2,1
4,5005,506.0,1280.0,1280,2,2,0

In [ ]:
predicted_prices = model.predict(X_test_data).round(0)

In [15]:
predictions_df = pd.DataFrame({
    'LotArea': X_test_data['LotArea'],
    'GarageArea': X_test_data['GarageArea'],
    'TotalBsmtSF': X_test_data['TotalBsmtSF'],
    'GrLivArea': X_test_data['GrLivArea'],
    'BedroomAbvGr': X_test_data['BedroomAbvGr'],
    'FullBath': X_test_data['FullBath'],
    'HalfBath': X_test_data['HalfBath'],
    'PredictedSalePrice': predicted_prices
})

predictions_df.to_csv("predicted_prices.csv", index=False)

In [16]:
predictions_df.head()

,LotArea,GarageArea,TotalBsmtSF,GrLivArea,BedroomAbvGr,FullBath,HalfBath,PredictedSalePrice
0,11622,730.0,882.0,896,2,1,0,147545.0
1,14267,312.0,1329.0,1329,3,1,1,174658.0
2,13830,482.0,928.0,1629,3,2,1,200191.0
3,9978,470.0,926.0,1604,3,2,1,193239.0
4,5005,506.0,1280.0,1280,2,2,0,183748.0